<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"	
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	
	<context:property-placeholder location="file:C:/rutamx-apikeys.properties" order="0" ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:mappir.properties" order="1" ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:foursquare.properties" order="2" ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:googleplaces.properties" order="3" ignore-unresolvable="true" />
	
	<import resource="spring-repositories.xml" />
	
	<context:component-scan base-package="mx.devhive.rutamx.rest.resource" />
	
</beans>